﻿@page
@model TechnologyShopManagement.Pages.Views.EmployeeListModel
@{

    //Test page
}
<table class="table">
    <thead>
        <tr>

            <th scope="col">Employee Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.employeesList != null)
        {


            @foreach (var emp in Model.employeesList)
            {

                <tr>

                    <td>@emp.employee_name</td>

                    <td>@emp.email</td>
                    <td>@emp.username</td>
                    <td>@emp.phone</td>
                    
                    
                </tr>
              
            }
        }

    </tbody>
</table>
