﻿@page
@model TechnologyShopManagement.Pages.Views.ProductListModel
@{
    //Test page
}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Online Shopping</h1>
            <p class="lead fw-normal text-white-50 mb-0">Worldwide delivery</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">




            @if (Model.productsList != null)
            {
                @foreach (var item in Model.productsList)
                {

                    <form method="post">
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="@item.img" width="450" height="200" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.product_name</h5>
                                        <!-- Product price-->
                                        $@item.price
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="row">
                                        <div style="margin-left:10px;margin-bottom:5px">
                                            <input type="number" name="proId" value="@item.product_id" hidden>
                                            <input type="number" name="proQuantity" value="0" min="0">

                                        </div>


                                        <div class="text-center "><button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</button></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }

            }
        </div>
    </div>
</section>